@import "tailwindcss";
:root {
  --background: #381c40;
  --foreground: #171717;
}

@theme inline {
  --color-bgPrimary: #d9d9d9;
  --color-bgSecondary: #9546ab;
  --color-bgTertiary: #3c1c45;
  --color-fontPrimary: #d88909;
  --color-fontSecondary: #0d4e9b;
  --color-fontTertiary: #d9d9d99e;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #381c40;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--background);
  opacity: 0.9;
  pointer-events: none;
  z-index: -20;
}
